#PORTAL_LOGO_IMAGE {
	height: expression(this.height > 120 ? 120 : true);
	max-height: 120px;
	width: auto !important;
}

#bodyColumns {
	margin-top: 2px;
	width: 100%;
}

#leftPageColumn {
	height: 700px;
	width: 130px;
}

#leftPageColumnDiv {
	-moz-border-radius: 8px;
	-moz-box-shadow: 3px 3px 10px #ccc;
	-webkit-border-radius: 8px;
	-webkit-box-shadow: 3px 3px 10px #ccc;
	border-radius: 8px;
	box-shadow: 3px 3px 10px #ccc;
	margin-bottom: 30px;
	padding: 10px;
	position: relative;
	width: 90%;
	text-align:left;
	z-index: 1;
}

#leftPageColumnDiv H2 {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #333;
	color: #fff;
	font-weight: 700;
	height: 20px;
	margin: 8px 0 0;
	padding: 6px;
	set-font-size: 12px;
}

#leftPageColumnDiv P {
	height: 1px;
	margin: 0;
}

#leftPageColumnDiv TABLE {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #fff;
	margin: 0;
	padding: 2px;
	z-index: -100;
}

#middlePageColumn {
	padding-left: 5px;
	padding-right: 5px;
}

#rightPageColumn {
	width: 130px;
}

#rightPageColumnDiv {
	-moz-border-radius: 8px;
	-moz-box-shadow: 3px 3px 10px #ccc;
	-webkit-border-radius: 8px;
	-webkit-box-shadow: 3px 3px 10px #ccc;
	border-radius: 8px;
	box-shadow: 3px 3px 10px #ccc;
	margin-bottom: 30px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	width: 90%;
	z-index: 1;
}

#topMenuBar {
	float: right;
	height: 50px;
	margin-right: 30px;
}

#top_main_image {
	position: absolute;
	top: 10px;
}

* {
	color: #333;
	font: 11px Arial;
	font-family:  Arial,Times New Roman;
	line-height: 120%;
 
}

.3dbutton {
	-moz-border-radius: 78px;
	-moz-box-shadow: inset 0 -4px 5px rgba(255, 255, 255, 0.2), inset 0 1px
		5px rgba(255, 255, 255, 0.2), 0 12px 0 #231F20, 0 14px 0 #231F20, 0
		16px 0 #231F20, 0 8px 5px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 78px;
	-webkit-box-shadow: inset 5px -4px 5px rgba(255, 255, 255, 0.2), inset
		5px 1px 5px rgba(255, 255, 255, 0.2), 0 12px 0 #231F20, 0 14px 0
		#231F20, 0 16px 0 #231F20;
	-webkit-transform: rotateX(35deg);
	background-color: #C91826;
	border: 1px solid;
	border-color: #B21522;
	border-radius: 78px;
	box-shadow: inset 0 -4px 5px rgba(255, 255, 255, 0.2), inset 0 1px 5px
		rgba(255, 255, 255, 0.2), 0 12px 0 #231F20, 0 14px 0 #231F20, 0 16px 0
		#231F20, 0 8px 5px rgba(0, 0, 0, 0.5);
	color: #fff;
	display: inline-block;
	font-size: 40px;
	font-weight: 700;
	margin: 0 10px;
	padding: 42px 15px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	width: 100px;
}

.3dbutton:active {
	-moz-box-shadow: inset 0 4px 5px rgba(255, 255, 255, 0.4), inset 0 -1px
		5px rgba(255, 255, 255, 0.2), 0 8px 0 #231F20, 0 9px 5px
		rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 4px 5px rgba(255, 255, 255, 0.4), inset 0
		-1px 5px rgba(255, 255, 255, 0.2), 0 8px 0 #231F20, 0 9px 5px
		rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 4px 5px rgba(255, 255, 255, 0.4), inset 0 -1px 5px
		rgba(255, 255, 255, 0.2), 0 8px 0 #231F20, 0 9px 5px
		rgba(0, 0, 0, 0.5);
	top: 8px;
}

.3dbutton:hover {
	background-color: #B21522;
	color: #e3e3e3;
}

.ActiveContentRecordCategoryCls {
	color: #333;
	font-weight: 700;
	margin-left: 10px;
	margin-right: 10px;
}

.AdditionalLinksContainer {
	border-top: 1px solid #ccc;
	padding-top: 50px;
	text-align: center;
	vertical-align: middle;
}

.C10ntentSlotBodyLinks {
	float: right;
}

.ConentSlotRecordImageTd {
	padding: 20px;
	text-align: center;
	width: 150px;
}

.ConentSlotRecordTable {
	border-bottom: 1px solid #666;
	margin: 5px;
	padding-bottom: 20px;
	width: 80%;
}

.ConentSlotRecordTd {
	border-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}

.ContentRecordCategoriesDiv {
	border-bottom: 1px dotted #ccc;
	margin: 10px;
	padding: 20px;
}

.ContentRecordCategoryLink {
	margin-left: 10px;
	margin-right: 10px;
}

.ContentRecordLogoImageCls {
	box-shadow: 5px 5px 4px #999;
	margin: 25px;
	max-width: 200px;
	padding: 3px;
}

.ContentRecordscoresSignupBt,.ConentSlotRecordContentImageTd {
	text-align: center;
}

.ContentRecordscoresSignupTitle {
	font-size: 21px;
	text-align: center;
}

.ContentRecordscoresSubTitle {
	color: #000;
	font-size: 21px;
	padding-left: 250px;
}

.ContentRecordscoresTitle {
	color: #FFF;
	font-size: 60px;
	padding-left: 230px;
	padding-top: 25px;
	text-shadow: 1px 1px 1px #000;
}

.ContentRecordContainer
	{
	border-bottom: 1px solid #ccc;
	color: #333;
	font: 13px Arial;
	padding: 5px;
	text-align: left;
}

.ContentRecordContent4Me{
	 
	color: #333;
	font: 13px Arial;
	padding: 5px;
	text-align: left;
}
.ContentRecordContentBasics
{
	 
	color: #333;
	font: 13px Arial;
	padding: 5px;
	text-align: left;
}

.ContentRecordContentAction {
	background-image: url(../st040/default/images/red-right-arrow.png);
	background-position: center right;
	background-repeat: no-repeat;
	color: #222;
	cursor: pointer;
	font: 14px Times New Roman;
	margin-top: 20px;
	width: 90px;
}

.ContentRecordContentBoxHeader {
	color: #222;
	font: 24px Times New Roman, Arial;
}

.ContentRecordContentBoxSubHeader {
	color: #444;
	font: 16px Times New Roman, Arial;
	text-align: left;
}

.ContentRecordContentIndex {
	color: #333;
	font: 13px Arial;
	padding: 5px;
	text-align: left;
}

.ContentRecordContentReviews {
	color: #333;
	font: 13px Arial;
	margin: 20px 50px;
	text-align: left;
}

.ContentRecordDetailsContainer {
	border-bottom: 1px solid #ccc;
	color: #333;
	font: 13px Arial;
	margin: 20px 50px;
	text-align: left;
}

.ContentRecordImage {
	text-align: center;
	width: 150px;
}

.ContentRecordLabel,.MessageItemCls {
	font-size: 14px;
	font-weight: 700;
}

.ContentRecordLinks {
	padding: 10px;
}

.ContentRecordLinksItem {
	color: #333;
	cursor: pointer;
	float: left;
	font: 13px Arial;
	over-flow: wrap;
	padding-top: 5px;
	vertical-align: text-top;
	width: 90px;
}

.ContentRecordPrice {
	padding-left: 30px;
}

.ContentRecordTitle {
	font-weight: 700;
	set-font-size: 11pt;
}

.ContentSlot {
	margin: auto;
	padding: 5px 10px 10px;
	position: relative;
	width: 95%;
	z-index: 1;
}

.ContentSlotBody {
	line-height: 1;
	padding: 10px;
	text-align: left;
}

.ContentSlotHeader {
	border-bottom: 1px solid #ececec;
	font-size: 1.5em;
	width: 100%;
}

.ContentSlotHeaderFilter {
	border-left: #ccc 1px solid;
	float: right;
	margin-right: 210px;
	padding-left: 5px;
}

.ContentSlotHeaderNavs {
	border-left: #ccc 1px solid;
	float: right;
	margin-right: 10px;
	padding-left: 5px;
	padding-top: 5px;
	set-font-size: 90%;
	vertical-align: bottom;
}

.ContentSlotHeaderTitle {
	color: #444;
	font: 20px Arial;
	height: 30px;
	padding-left: 25px;
	padding-right: 10px;
	padding-top: 20px;
	text-align: left;
	vertical-align: middle;
}

.ContentSlotHeaderTitle a  {
	 
	font: 20px Arial;
	 
}

.ContentSlotIndexTitle,strong,b,.middleColumRow2WhatNewContentHighlight,.ActiveNavPageLink
	{
	font-weight: 700;
}

.ContentSlotSubTitle {
	color: #999;
	padding-left: 10px;
	padding-top: 5px;
}

.ContentSlotSubtitle,.ContentSlotFooter {
	text-align: right;
}

.ContentSlotSubtitleTable,.ContentSlotFooterTable {
	width: 98%;
}

.ContentSlotTitle {
	font-family: Times New Roman, Arial;
	font-weight: 700;
	line-height: 100%;
	p10dding-bottom: 10px;
	padding-left: 15px;
	padding-top: 5px;
}

.CourseSiteMaterialsDiv {
	border-bottom: dotted 1px #666;
	margin: 5px 50px;
	overflow: hidden;
	padding-bottom: 20px;
	width: 620px;
}

.CourseSiteMaterialsDiv table {
	width: 600px;
}

.FilterItem {
	font-size: 8pt;
	width: 180px;
}

.LangBarOnRootmenuSectionCls {
	float: right;
	margin-right: 20px;
}

.NormalBodyContent {
	line-height: 1.5;
	padding: 20px;
}

.ProcessMessages {
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	color: #900;
	font-weight:bold;
	padding: 10px;
}

.RuntimeMessageCls {
	color: #a00;
	font: 14px Arial;
	padding:5px;
	margin-top:10px;
	
	border-top:1px solid #ececec;
	border-bottom:1px solid #ececec;
}
.RuntimeMessageCls  li
{
	color: #a00;
}

.SiteNameSub {
	font-family: Lucida Sans, Times New Roman, Arial;
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	vertical-align: MIDDLE;
}

.SiteUserMngSection {
	background: url(../st040/winescor/images/submenu_bg.png) repeat-x;
	border-bottom: 1px solid #555;
	height: 30px;
	padding-left: 5px;
	padding-top: 5px;
}

.Top5Category {
	border-bottom: 1px solid #ccc;
	font: 28px Times New Roman, Arial;
	font-weight: 700;
	height: 30px;
	padding-top: 20px;
	text-align: left;
}

.Top5CategoryLink {
	font: 28px Times New Roman, Arial;
}

.Top5CategoryTitle {
	font: 13px Arial;
	text-align: left;
}

.UserInfoCls {
	color: #333;
	font: 12px ;
	padding-top: 5px;
}

.bodyContainerCls {
	background: url(../st040/default/images/body_top_bg_dec.png) repeat-x;
}

.bodyWrapper {
	background: 0;
	background-image: 0 color-stop(0.56, rgb(177, 217, 227) ),
		color-stop(1, rgb(255, 255, 255) ) );
	border-left: #ccc 1px solid;
	border-right: #ccc 1px solid;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,
		startColorstr=#ffffff, endColorstr=#bde8f3 );
	margin: auto;
	width: 1000px;
}

.buttonBox {
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
}

.circleButton {
	-khtml-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: #000;
	border-radius: 50px;
	color: #fff;
	display: block;
	font-size: 20px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	width: 100px;
}

.circleMenu {
	-khtml-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background: #000;
	border-radius: 50px;
	color: #fff;
	display: block;
	font-size: 20px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	text-decoration: none;
	width: 100px;
}

.circleMenu:hover {
	background: #333;
	color: #fff;
	text-decoration: none;
}

.contentslothelplink {
	color: #999;
	set-font-size: 7pt;
	text-decoration: underline;
}

.divAdsItem {
	cursor: pointer;
	padding-top: 10px;
	text-align: center;
}

.footerBottomContent {
	color: #FB2058;
	font: 11px Times New Roman, Arial;
	padding-bottom: 10px;
	padding-left: 50px;
}

.footerContainerCls {
	background: url(../st040/default/images/footer_bg.png) repeat-x;
	background-color: 000;
	height: 274px;
	width: 1075px;
}

.footerContentBox {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	vertical-align: top;
	width: 33%;
}

.footerContentBoxBody {
	color: #fff;
	font: 11px Arial;
	padding-top: 25px;
	text-align: left;
}

.footerContentBoxHeader {
	color: #FB2058;
	font: 18px Times New Roman, Arial;
}

.formButton {
	background-color: #1e5184;
	border-bottom: .1em solid #555;
	border-left: .1em solid #ccc;
	border-right: .1em solid #555;
	border-top: .1em solid #ccc;
	color: #eee;
	cursor: pointer;
	font-size: 1em;
	margin: .2em;
	padding: 2px 5px;
}

.formLabel {
	background-image: url(../st040/default/images/red-right-arrow.png);
	background-position: center right;
	background-repeat: no-repeat;
	color: #333;
	font: 12px Arial;
	font-weight: 700;
	height: 20px;
	padding-right: 10px;
	text-align: right;
	vertical-align: middle;
	width: 200px;
}

.formTable {
	text-align: left;
	width: 80%;
}

.formValidationMessage {
	font-family: Arial;
	margin-bottom: 10px;
	margin-left: 20px;
}

.formhelp {
	color: #555;
	padding-left: 5px;
	vertical-align: top;
	width: 200px;
}

.formtext {
	border: 1px solid #999;
	font-size: 9pt;
	vertical-align: top;
	width: 100%;
}

.gridHeaderLabel {
	background-color: #244568;
	color: #fff;
	font-weight: 700;
	height: 40px;
	set-font-size: 9pt;
}

.headSectionTab {
	margin-bottom: -10px;
	width: 100%;
}

.highlight {
	color: #9d0909;
	font-style: italic;
	font-weight: 700;
}

.hightlighttext {
	color: #555;
}

.hrefButton {
	background-color: #e9e9e9;
	background-image: url(../st030/icons/right-arrow.gif);
	background-position: left 50%;
	background-repeat: no-repeat;
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	border-right: #ccc 1px solid;
	border-top: #ccc 1px solid;
	padding: 2px 13px 2px 25px;
}

.hrefspan {
	color: #009;
	cursor: pointer;
	text-decoration: underline;
}

.languageBarActiveLink {
	color: #ececec;
	font-weight: 700;
}

.languageBarDiv {
	float: right;
	height: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2px;
}

.languageBarDiv span,.slotDate {
	color: #999;
}

.leftColumCls {
	background: url(../st040/default/images/body_left_bg_dec.png) repeat-y
		right 15px;
	width: 150px;
}

.leftDivAds {
	margin-right: 5px;
	width: 128px;
}

.logoTD {
	padding: 5px;
}

.mainMenu {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.mainMenuCls {
	background-image: url(../st040/default/images/main_menu.jpg);
	background-repeat: repeat-x;
	height: 48px;
}

.mainMenuSeperator {
	background-image: url(../st040/default/images/txt_menu_dot.png);
	background-position: center center;
	background-repeat: no-repeat;
	height: 8px;
	margin-left: 39px;
	margin-right: 39px;
	width: 8px;
}

.memberLoginLinks {
	color: #009;
	text-align:right;
	font: 12px Times New Roman, Arial;
 
	padding-right: 20px;
}

.menuBreadCrumb {
	set-font-size: 8pt;
	text-decoration: underline;
}

.menuBreadCrumbCurr {
	font-weight: 700;
	set-font-size: 8pt;
}

.menuCrumbCls {
	background-image: url(../st040/default/images/bg_menuunder.png);
	background-position: left top;
	background-repeat: repeat-x;
	height: 40px;
}

.middleAdCls,.top5 {
	margin: 20px;
}

.middleColumCls {
	margin: 5px;
	padding: 5px;
	width: 720px;
}

.middleColumRow2Cls {
	margin-top: 15px;
	width: 726px;
}

.middleColumRow2ReviewBox {
	background: url(../st040/default/images/review-box.png) no-repeat;
	border: 1px solid #e3e1e3;
	height: 300px;
	margin-top: 15px;
	text-align: left;
	width: 370px;
}

.middleColumRow2ReviewBoxHeader,.middleColumRow2WhatNewHeader {
	color: #555;
	font: 20px Arial;
	height: 70px;
	padding-left: 20px;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
}

.middleColumRow2ReviewBoxLeftArrow {
	padding-left: 10px;
	padding-top: 20px;
	width: 30px;
}

.middleColumRow2ReviewBoxRightArrow {
	padding-right: 10px;
	padding-top: 20px;
	width: 30px;
}

.middleColumRow2WhatNew {
	background: url(../st040/default/images/news_box.png) no-repeat;
	border: 1px solid #e3e1e3;
	height: 300px;
	margin-top: 15px;
	width: 330px;
}

.middleColumRow2WhatNewBottomRow {
	background-color: #000;
	color: #555;
	font: 13px Times New Roman, Arial;
	height: 20px;
	padding-right: 20px;
	text-align: right;
}

.middleDivAds {
	padding-bottom: 10px;
}

.middleTopTopicContainer {
	background: url(../st040/default/images/join_big_box.jpg) no-repeat;
	border: 1px solid #cacaca;
	height: 207px;
	width: 710px;
}

.middleTopTopicContent1,.middleTopTopicContent2 {
	font: 13px Arial;
	padding-left: 20px;
	text-align: left;
	width: 492px;
}

.middleTopTopicContent2Action {
	background: url(../st040/default/images/squiggle.html) no-repeat left
		bottom;
	color: #555;
	cursor: pointer;
	font: 24px Segoe Script, Arial;
	height: 50px;
	vertical-align: bottom;
}

.middleTopTopicContent2Header {
	color: #555;
	font: 16px Times New Roman, Arial;
	text-align: left;
}

.middleTopTopicHeader {
	color: #555;
	font: 22px Times New Roman, Arial;
	padding-left: 20px;
	text-align: left;
}

.multiColSlotCls {
	width: 100%;
}

.multiColSlotItemCls {
	padding-right: 20px;
}

.myActiveListItem {
	color: #444;
	font-weight: 700;
}

.myListsSectionDiv {
	padding: 10px;
	text-align: center;
	width: 99%;
}

.newsSubscribeCls {
	color: #000;
	font: 15px Times New Roman, Arial;
	padding-left: 15px;
}

.pageBody {
	min-height: 500px;
}

.pagefooter {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: url(../st030/bg/bottomBackground.grey1.jpg) no-repeat left top;
	border-bottom: #ddd 1px solid;
	border-left: #ddd 1px solid;
	border-right: #ddd 1px solid;
	border-top: #ddd 1px solid;
	color: #fff;
	margin-top: 20px;
	padding: 5px;
}

.pagefooter * {
	color: #fff;
}

.pageheader {
	height: 50px;
}

.reviewScorePoints {
	clear: both;
	font-size: 12pt;
	height: 20px;
	padding-top: 5px;
}

.reviewTitle {
	font: 14px Times New Roman, Arial;
}

.rightColumCls {
	background: url(../st040/default/images/body_right_bg_dec.png) repeat-y
		left 15px;
	width: 150px;
}

.rightDivAds {
	margin-left: 5px;
}

.rootSectionBreadCrumb {
	height: 20px;
	padding-left: 5px;
	padding-top: 8px;
	text-align:left;
	pading-bottom: 2px;
}

.rootSectionMenu {
	background: #a0a0a0;
	background-color: #666;
	border-bottom: 1px solid #777;
	border-top: 2px solid #696969;
	height: 25px;
	margin-left: 0;
	margin-right: 0;
	margin-top: -5px;
	padding-bottom: 2px;
	padding-top: 0;
	position: relative;
	width: 100%;
}

.searchHighlightDiv {
	color: #555;
	font-weight: .8em;
	margin: 5px;
}

.searchResultRecordTR td {
	padding-bottom: 20px;
}

.searchResultTable {
	margin: 10px;
}

.searchTextBox {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: url(../st040/default/images/search_icon.png) no-repeat 170px
		6px #fcfcfc;
	border: 1px solid #444;
	border-radius: 5px;
	font: 11px Times New Roman, Arial;
	margin-right: 15px;
	padding: 6px 35px 0 15px;
	width: 150px;
}

.selectedTopicContainer {
	background-color: #000;
	height: 223px;
}

.selectedTopicContent {
	color: #fff;
	font: 12px Times New Roman, Arial;
	height: 187px;
	text-align: center;
}

.selectedTopicHeader {
	background-color: #555;
	font: 12px Times New Roman, Arial;
	height: 22px;
	text-align: center;
}

.siteBanner {
	margin-bottom: -5px;
	margin-top: -2px;
	overflow: hidden;
	padding: -1px;
}

.sitelogo {
	float: left;
	width: 500px;
}

.slideprevcls,.slidenextcls {
	cursor: pointer;
}

.slotBody {
	line-height: 1.85;
	padding: 10px;
	text-align: left;
}

.slotBody *,.ContentSlotBody * {
	line-height: 1.85;
}

.slotContainer {
	border: 1px solid #d0ccd0;
	z-index: 1;
}

.slotTitle {
	color: #444;
	font: 30px Times New Roman;
	height: 30px;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 20px;
	text-align: left;
	vertical-align: middle;
}

.slotcls {
	clear: both;
	text-align: left;
	margin:10px;
	xborder: 1px solid #000;
}

.standardTextBox {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #bebabc;
	border-radius: 5px;
	font: 12px Times New Roman, Arial;
	font-style: italic;
	margin-right: 15px;
	padding: 2px 5px;
	width: 160px;
}

.submenuitem {
	color: #555;
	font: 13px Times New Roman, Arial;
	padding-right: 20px;
}

.submenuitemdesc {
	border-bottom: dotted 1px #000;
	font: 12px Arial;
}

.subscribeTextBox {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background2222222: url(../st040/default/images/subscribe_arrow.html)
		no-repeat 170px 0 #fcfcfc;
	backgroundaaaa: url(../st040/default/images/box-arrow.html) no-repeat 172px
		0 #fcfcfc;
	border: 1px solid #444;
	border-radius: 5px;
	font: 11px Times New Roman, Arial;
	height: 17px;
	margin-right: 15px;
	padding: 1px 35px 1px 15px;
	width: 150px;
}

.topCornerNavBarLink {
	color: #fff;
	font-family: Times New Roman;
	font-size: 13px;
}

.topCornerNavBarLink:hover {
	color: #ececec;
	text-decoration: underline;
}

.topicBoxContainer {
	background: url(../st040/default/images/bot_box.png) repeat-x;
	border: 0 solid #d0ccd0;
	float: left;
	margin-left: 10px;
}

.topicBoxContent {
	font: 12px Arial;
	height: 140px;
	line-height: 150%;
	padding-right: 30px;
	text-align: justify;
	text-justify: auto;
	vertical-align: top;
}

.topicBoxHeader {
	color: #fff;
	font: 16px Times New Roman;
	height: 20px;
	padding-bottom: 20px;
	padding-top: 4px;
	vertical-align: middle;
}

.topicBoxImg {
	float: right;
	margin-right: -40px;
}

.topicBoxSubDiv {
	border: 1px solid #d0ccd0;
	height: 256px;
	padding-left: 20px;
	padding-right: 40px;
	text-align: left;
	width: 167px;
}

.webLinkCls {
	color: #009;
	font: 13px Times New Roman, Arial;
	font-weight: 700;
	text-align: left;
}
A {
	color: #009;
	text-decoration: underline;
}
A .ContentRecordTitle {
	 
	font-weight: bold;
 
}

BODY {
 
	margin: 0;
 
}

H1 {
	color: #444;
	font: 22px Times New Roman, Arial;
	text-align: left;
}

H2 {
	color: #444;
	font: 24px Times New Roman, Arial;
	text-align: left;
	margin-left:10px;
}

H3 {
	color: #444;
	font: 14px Arial;
	text-align: left;
}

H4 {
	color: #444;
	font: 12px Arial;
	text-align: left;
}

H5 {
	color: #444;
	font: 10px Arial;
	text-align: left;
}

H6 {
	color: #444;
	font: 8px Arial;
	text-align: left;
}

 

em,i {
	font-style: italic;
}

hr {
	border-bottom: 1px solid #444;
	height: 0;
}

html {
	height: 100%;
}

img {
	border: 0;
}

input[type=button] {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #444;
	border: 2px solid #ececec;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font: 13px Arial;
	font-weight: 700;
	padding: 3px 11px;
	vertical-align: middle;
}

input[type=button].negative {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #c9c9c9;
	border: 2px solid #ececec;
	border-radius: 4px;
	cursor: pointer;
	font: 13px Arial;
	font-weight: 700;
	padding: 3px 11px;
	vertical-align: middle;
}

input[type=submit] {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #444;
	border: 2px solid #dcdcdc;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font: 13px Arial;
	font-weight: 700;
	padding: 3px 11px;
	vertical-align: middle;
}

input[type=submit]:hover {
	border: 2px solid #ccc;
}

input[type=text],input[type=password] {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #444;
	border-radius: 4px;
	font: 12px Arial;
	heightaa: 20px;
}

select {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #999;
	border-radius: 4px;
	font: 12px Arial;
 
	width: 80%;
}

td #SiteSearchBoxTd div {
	margin: 10px;
	position: relative;
}

td #SiteSearchBoxTd div label {
	cursor: pointer;
	left: 219px;
	position: absolute;
	top: 10px;
}

td .newsSubscribeCls div {
	color: #000;
	font: 15px Times New Roman, Arial;
	margin: 10px;
	position: relative;
}

td .newsSubscribeCls div label {
	cursor: pointer;
	left: 346px;
	position: absolute;
	top: 2px;
}

textarea {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #666;
	border-radius: 4px;
	font: 12px Arial;
	width: 98%;
}

ul.dropdown li {
	 
	text-align:left;
}

ul li a{
text-decoration:none;
}
#pageTopSection{
 
	margin:auto;
	top: 0;
	left: 0;
	background: #fff;
	-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	z-index: 999999;
 
}
#pageBodySection{
	top:60px;
}

td{text-align:left;}
.tableHeader{
  background-color:#ececec;
   
  height:30px;
}

/*service units*/
.eventTitle{
			font-size:15px;
			font-weight:bold;
			padding-left:10px;
		}
		.eventViewDiv {
			border-bottom:1px solid #cecece;
			margin:20px;
			width:100%;
			
		}
		.eventIndex {
			font-weight:bold;
			color:#666;
			
		}
		.eventDate {
			 
			color:#999;
		    font-size:8pt;
			
		}			
	   .eventInfo {
			 
			color:#444;
			
		}
		.eventLocation {
			 
			color:#000;
			
		} 
		.eventLabel {
		 
			color:#777;
			vertical-align:top;
			
		} 
			 
		.catgoryPathLinks{
			 
			background-color:#ececec;
			margin-bottom:20px;
			height:28px;
			vertical-align:bottom;
			padding-top:5px;
			text-align:right;
			margin-right:20px;
			padding-right:20px;
			border-bottom:1px solid #666;
		}
		.messageViewDiv {
			border-bottom:1px solid #cecece;
			border-top: 1px solid #cecece;
			margin:20px;
			width:100%;
			
		}
		        
		.messageHeader {
			
			margin:10px;
			min-height:40px;
			padding:5px;
		}
		.messageTitle {
			 
			color:#000;
			font-size:9pt;
		}
		.messageCreator {
		 
			color:#999;
			 
			padding:20px;
			 
			 
			
		}			
	 	.messageBody {
			border-left: 1px solid #cecece;
	 		padding:10px;
			color:#333;
			font-size:12px;
			font-family:Arial;
		}	
		.onPageCommands{
			border-bottom:1px solid #999;
			background-color:#eee;
			float:right;
			font-size:9pt;
			min-width:100px;
			margin:10px;
			padding:5px; 
			vertical-align:bottom;
			text-align:right;
		}	
		.columnLabel{
			 
			color:#777;
			vertical-align:top;
		}
		.columnInfoText{
			color:#666;
			padding-left:2px; 
			text-align:left;
		}
		.svcUnitName{
			font-size:16px;
		}
		.svcScheduleName{
			font-size:15px;
			color:#090;
		}
		 
		.trClass1{
			background-color:#ececec;
			height:28px;
		}
		.trClass0{
			background-color:#ffffff;
			height:28px;
		}
		.svcScheduleName{
			font-size:15px;
			color:#090;
		}
		.svcScheduleEventName{
			font-size:14px;
			color:#090;
		}
		.scoreEventCommands{
			margin:5px;
			margin-left:40px;
		}
		.slotIntroduction{
			margin:10px;
			font-size:1.2em;
			padding-left:20px;
			border-left:10px solid #ececec;
			 
		}