* 									{ margin: 0; padding: 0; }
 
 
a									{ text-decoration: none; }
ul								{ list-style: none; }
p                 { margin: 15px 0; }

/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative;z-index:100; }
ul.dropdown li                      { float: left; zoom: 1; background: #dedede;  border-left:1px solid #a8a8a8;}
ul.dropdown a:hover		              { color: #000; }
ul.dropdown a:active                { color: #990000; }
ul.dropdown li a                    { font-family:Candara,Verdana;display: block; font-weight:bold;padding: 4px 8px; border-right: 1px solid #333;set-font-size:11pt; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                {  text-decoration:underline; color: #fff; position: relative; }
ul.dropdown li.hover a              {   }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						  { width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; border-left:1px solid #333; }
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #000; 
									 					 border-bottom: 1px solid #666; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 204px; display: inline-block; } 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					 { left: 100%; top: 0; }
ul.dropdown li:hover > ul 	 { visibility: visible; }

.activeMenu{
	 background: #666; 
	 color: #fff;
 
}
.menuSectionActive{
 background: #666; 
	 color: #fff;
}
 .menuItemActive{
 background: #666; 
	 color: #fff;
}